@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Jua', sans-serif !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}

* {
  font-family: 'Jua', sans-serif !important;
  box-sizing: border-box;
}
